{
    margin: 0%;
    padding: 0%;
    background-color: #ece4e4;
    box-sizing: border-box;
    font-size: 16px;
}

.box-pai {
    display: flex;
    margin: 2vh 2vw;
    flex-direction: column;
}

.box {
    border: solid #25aa98;
    margin: 3vh 3vw;
}

.box-child-1 {
    height: 12vh;
}

.box-child-2 {
    display: flex;
    height: 20vh;
}

.box-child-5 {
    border: solid #22af74;
    margin: 2vh 1.5vw;
    height: 15vh;
    flex-grow: 1;
}

.box-child-6 {
    border: solid #41a857;
    margin: 2vh 1.5vw;
    height: 15vh;
    flex-grow: 3;
}

.box-child-3 {
    display: flex;
    flex-direction: row;
    border: solid #21573c;
}

.box-child-3 .box-1 {
    border: solid #36b632;
    margin: 3vh 3vw;
    height: 15vh;
    width: 15vw;
    justify-content: baseline;
}

.box-child-4 {
    height: 20vh;
}